.product {
  h2 {
    font-size: 24px;
    color: $secondaryColor;
    font-family: $fontNothingCould;
  }

  p {
    margin-top: 14px;
    font-family: $fontMonserrat-light;
    font-size: 18px;
  }
}
