//NOTHING YOU COULD DO//

@font-face {
  font-family: "Nothing You Could Do";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/NothingYouCouldDo.ttf"),
    url("/assets/fonts/NothingYouCouldDo.ttf") format("truetype");
}

//MONTSERRAT//

//MONTSERRAT//

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Light.woff2") format("woff2"),
    url("/assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("/assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
