@mixin flexbox($direction: row, $justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: $align;
}

@mixin small {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin medium {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin extraLarge {
  @media (min-width: 1200px) {
    @content;
  }
}
