//Colors
$primaryColor: #3d3d3d;
$secondaryColor: #1b569a;
$tertiaryColor: #929292;
$backgroundColor: #fafafa;
$black: #000000;
$white: #ffffff;

//Fonts
$fontNothingCould: "Nothing You Could Do", sans-serif;
$fontMonserrat: "Montserrat", sans-serif;
$fontMonserrat-light: "Montserrat-light", sans-serif;
$fontMontserrat-SemiBold: "Montserrat-SemiBold", sans-serif;
$fontMontserrat-Medium: "Montserrat-Medium", sans-serif;
